Binaries
DerivedDataCache
Intermediate
Saved
Build
Content

.vs
.vscode
.vscode
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
.suo
.xcodeproj
.xcworkspace


!Content/
Content/*
!Content/SiegeSurvival/


!Plugins/
Plugins/*
!Plugins/GameFeatures/
Plugins/GameFeatures/*
!Plugins/GameFeatures/SiegeSurvival/